/*flex*/
.flex {
  display: flex;
}

.items-center_justify-center {
  align-items: center;
  justify-content: center;
}

/*size*/
.size-0{
  width: 0;
  height: 0;
}

/*width*/
.w-100 {
  width: 100%;
}
