html, body, div, ul, li, button {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  border: 0px none;
}

a {
  vertical-align: top;
  text-decoration: none;
  color: black;
}

ul, li {
  list-style-type: none;
}

input {
  border: 0px solid;
}

input:focus {
  outline: none;
}
