@import "./search-term-modal/search-term-modal.scss";

.product-search-form {
  position: relative;
  display: flex;
  align-items: center;
  margin: 15px 0 0 20px;
  width: 100%;
  height: 40px;
  border: 2px solid $mainColor;

  &__category {
    width: 22%;
    padding: 10px;
    border-right: 1px solid $borderColor;
  }

  &__input {
    padding-left: 10px;
    height: 100%;
    width: 80%;
  }

  &__btn {
    background-color: transparent;
    background-image: url(https://static.coupangcdn.com/image/coupang/common/pc_header_img_sprite_180104.png);
    background-position: -112px -69px;
    height: 100%;
    width: 10%;
  }
}
